.tab-form
  - form_tag '' do
    = label_tag 'month-ddl', 'Month'
    = select_tag 'month-ddl', options_for_select(months)

    = label_tag 'year-ddl', 'Year'
    = select_tag 'year-ddl', options_for_select(years)

    = label_tag 'type-ddl', 'Type'
    = select_tag 'type-ddl', options_for_select(['Event', 'Message'])

    = submit_tag 'Filter', :id => 'filter-button'

#results

