%h2 Reply
%div(class="#{to_css(@message.type_name)} #{to_css(@message.importance)}")
  .message-body
    %h3= @message.title
    %div
      %strong
        = @message.user.username
      says:
    .date= format_datetime(@message.created_at)
    %p
      = simple_format @message.text

  - event_info(@message)

  %ul.message-meta
    %li
      %strong(class="#{to_css(@message.importance)}")
        = @message.importance
    %li
      = reply_count(@message)
    %li
      = destroy_link(@message)

.replies
  - @message.replies.each do |reply|
    .reply
      %strong= reply.user.username
      says:
      .date= format_datetime(reply.created_at)
      %p= simple_format reply.text
      %p= destroy_reply_link(@message, reply)

%h3 Add A Reply:
= form_for([@message, @message.replies.build]) do |f|
  %p
    = f.label 'Reply'
    = f.text_area :text, :cols => 77, :rows => 3
  %p
    = f.submit "Submit", :class => "submit"
    or
    = link_to "Cancel", root_path, :class => "cancel"

