%h2 Reply
.message
  %h3= @message.title
  %p
    %strong
      = @message.user.username
    says:
  .date= format_datetime(@message.created_at)
  %p
    = @message.message
  - event_info(@message)

.replies
  - @message.replies.each do |reply|
    .reply
      %strong= reply.user.username
      says:
      .date= format_datetime(reply.created_at)
      %p= reply.text
      %p= destroy_reply_link(@message, reply)

%h3 Add A Reply:
= form_for([@message, @message.replies.build]) do |f|
  %p
    = f.label 'Reply'
    = f.text_area :text, :cols => 77, :rows => 3
  %p
    = f.submit "Submit", :class => "submit"
    or
    = link_to "Cancel", root_path, :class => "cancel"

