.message-body
  %h3
    = message.title
  %div
    = link_to message.user.username
    says:
  .date= format_datetime(message.created_at)
  %p
    = simple_format(message.text)

- event_info(message)

%ul.message-meta
  %li
    \(
    %strong(class="priority-text")
      = message.importance
    \)
  %li
    = reply_count(message)
