%ul#messages
  - @messages.each do |m|
    %li(class="#{to_css(m.type_name)}")
      .action
        = link_to 'Reply', new_message_reply_path(m)
      .action
        = to_edit(m)
      .message-body
        %h3
          = m.title
        %p
          = link_to m.user.username
          says:
        %p
          = m.message

      - event_info(m)

      .message-meta
        %strong(class="#{to_css(m.importance)}")
          = m.importance
        \-
        = "#{m.replies.length} replie(s)"
        \-
        = format_datetime(m.created_at)
        \-
        = link_to "Delete", message_path(m), :method => :delete
