%p
  = f.label :title
  = f.text_field :title
%p
  = f.label :message
  = f.text_area :text, :cols => 77, :rows => 3
%p
  = f.label :importance
  = f.select :importance, Importance::ALL

%p
  = f.label :start_at
  .date-group
    = text_field_tag :s_date, @message.start_date_display, :class => 'date'
    \-
    = text_field_tag :s_time, @message.start_time_display, :class => 'time'
    = select_tag :s_time, options_for_select(times(), @message.start_time_display), { :class => 'time' }

%p
  = f.label :end_date
  .date-group
    = text_field_tag :e_date, @message.end_date_display, :class => 'date'
    \-
    = text_field_tag :e_time, @message.end_time_display, :class => 'time'
/    = select_tag :e_time, options_for_select(times, @message.end_time_display), :class => 'time'

%p
  = f.submit "Submit", :class => "submit"
  or
  = link_to "Cancel", root_path, :class => "cancel"

