%p
  = f.label :title
  = f.text_field :title
%p
  = f.label :message
  = f.text_area :message, :cols => 77, :rows => 3
%p
  = f.label :importance
  = f.select :importance, Importance::ALL

%p
  = f.label :start_date
  .date-group
    = text_field_tag :s_date, '', :class => 'date'
    \-
    = text_field_tag :s_time, '', :class => 'time'

%p
  = f.label :end_date
  .date-group
    = text_field_tag :e_date, '', :class => 'date'
    \-
    = text_field_tag :e_time, '', :class => 'time'

%p
  = f.submit "Submit", :class => "submit"
  or
  = link_to "Cancel", root_path, :class => "cancel"

