#header
  #hdr-group
    %h1
      = link_to "famlog", root_path
    %ul#hdr-util
      - if current_user
        %li
          We love you
          = link_to current_user.username, edit_user_path(current_user.username)
          and hope you never
          = link_to 'Sign out', user_session_path, :method => :delete
          \... ever!
      - else
        %li
          = link_to "Sign in", new_user_session_path
        %li
          |
        %li
          = link_to "Sign up", new_user_registration_path

