!!!
%html
  %head
    %title famlog
    = javascript_include_tag "jquery.js", "home/index.js"
    = stylesheet_link_tag "reset", "common"
    = yield :head
  %body
    = render :partial => "layouts/header"
    #root
      #top
        = today
        #add
          New
          = link_to "Message", new_message_path
          \/
          = link_to "Event", new_event_path
        #tabs
          %ul
            %li.active
              Home
            %li
              Today
            %li
              This Week
            %li
              History
      #main
        = yield
