!!!
%html
  %head
    %title famlog
    = javascript_include_tag "jquery-1.3.2.min","jquery-ui.min.js", "underscore-min.js", "application"
    = stylesheet_link_tag "reset", "common"
  %body
    #root
      %h1 
        = link_to "famlog", root_path
      #header
        = today
      #main
        = yield
