!!!
%html
  %head
    %title famlog
    = javascript_include_tag "jquery.js", "home/index.js"
    = stylesheet_link_tag "reset", "common"
  %body
    #header
      #hdr-group
        %h1 
          = link_to "famlog", root_path
    #root
      #top
        = today
        #add
          New
          = link_to "Message", new_message_path
          \/
          = link_to "Event", new_message_path
        #tabs
          %ul
            %li.active
              Home
            %li
              Today
            %li
              This Week
            %li
              History
      #main
        = yield
