!!!
%html
  %head
    %title Famlog
    = stylesheet_link_tag 'reset', 'common'
    = csrf_meta_tag
    = yield :head
  %body
    = render :partial => 'layouts/header'
    #root
      #top
        = today
        #add
          Create a new
          = link_to 'Message', new_message_path
          or
          = link_to 'Event', new_event_path
        #tabs
          %ul
            %li#home.active
              Home
            %li#today
              = today_label
            %li#forecast
              = forecast_label
            %li#history
              History
            %li#search
              Search
      #main
        = yield

    = javascript_include_tag 'jquery', 'rails',
                             'application', 'messages', 'tabs'
