!!!
%html
  %head
    %title Famlog
    = stylesheet_link_tag 'reset', 'common', 'forms', 'jquery-ui'
    = csrf_meta_tag
    = yield :head
  %body
    = render :partial => 'layouts/header'
    #root
      #main
        = yield

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js',
                             'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js',
                             'rails', 'forms'
