!!!
%html
  %head
    %title famlog
    = stylesheet_link_tag 'reset', 'common', 'forms'
    = csrf_meta_tag
    = yield :head
  %body
    = render :partial => 'layouts/header'
    #root
      #main
        = yield

    = javascript_include_tag 'jquery.js', 'rails'
